#REquirements without cersion specifics##
Pillow
cycler
gym
pybullet
stable_baselines3
ray[rllib]
numpy
matplotlib
tensorflow
tensorflow_probability
tensorboard
GPUtil

### Requirements with version specifics###
# scipy == 1.7.2
# pandas == 1.3.4
# cvxpy == 1.1.17
